%h1= @note.title
%p= simple_format(@note.content)

= link_to "Back", notes_path
= link_to "Edit Note", edit_note_path(@note)
= link_to "Delete Note", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }
